.LEO {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.LEO:hover {
  background-color: #2980b9;
}

.walletInfo {
  display: flex;
  align-items: center;
}

.smallButton {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transform: translateY(2px);
  cursor: pointer;
}

.smallButton:hover {
  background-color: #2980b9;
}

.LEO.flashing {
  animation: flashingEffect 1s infinite alternate;
}
.BuildButton1{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton2{
  position: absolute;
    top: 33.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton3{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 5.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton4{
  position: absolute;
    top: 33.5%; /* Vertikale Position in Pixeln */
    left: 5.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton5{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 11%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton6{
  position: absolute;
    top: 33.5%; /* Vertikale Position in Pixeln */
    left: 11%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton7{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 17%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton8{
  position: absolute;
    top: 43.5%; /* Vertikale Position in Pixeln */
    left: 11%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton9{
  position: absolute;
    top: 24.5%; /* Vertikale Position in Pixeln */
    left: 23.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton10{
  position: absolute;
    top: 53.5%; /* Vertikale Position in Pixeln */
    left: 11%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton11{
  position: absolute;
    top: 33.5%; /* Vertikale Position in Pixeln */
    left: 23.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton12{
  position: absolute;
    top: 63.5%; /* Vertikale Position in Pixeln */
    left: 11%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton13{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton14{
  position: absolute;
    top: 73.5%; /* Vertikale Position in Pixeln */
    left: 11%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton15{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton16{
  position: absolute;
    top: 83.5%; /* Vertikale Position in Pixeln */
    left: 11%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton17{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton18{
  position: absolute;
    top: 32%; /* Vertikale Position in Pixeln */
    left: 51.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton19{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton20{
  position: absolute;
    top: 42%; /* Vertikale Position in Pixeln */
    left: 51.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton21{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton22{
  position: absolute;
    top: 52%; /* Vertikale Position in Pixeln */
    left: 51.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton23{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton24{
  position: absolute;
    top: 62%; /* Vertikale Position in Pixeln */
    left: 51.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton25{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton26{
  position: absolute;
    top: 72%; /* Vertikale Position in Pixeln */
    left: 51.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton27{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton28{
  position: absolute;
    top: 82%; /* Vertikale Position in Pixeln */
    left: 51.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton29{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton30{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 58%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton31{
  position: absolute;
    top: 14.5%; /* Vertikale Position in Pixeln */
    left: 0%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton32{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 63.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton33{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 58%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton34{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 69%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton35{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 58%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton36{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 74.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton37{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 58%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton38{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 80%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton39{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 58%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton40{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 85.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton41{
  position: absolute;
    top: 90%; /* Vertikale Position in Pixeln */
    left: 85.5%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton41{
  position: absolute;
    top: 81%; /* Vertikale Position in Pixeln */
    left: 91%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton42{
  position: absolute;
    top: 71%; /* Vertikale Position in Pixeln */
    left: 91%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton43{
  position: absolute;
    top: 81%; /* Vertikale Position in Pixeln */
    left: 91%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton44{
  position: absolute;
    top: 61%; /* Vertikale Position in Pixeln */
    left: 91%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton45{
  position: absolute;
    top: 81%; /* Vertikale Position in Pixeln */
    left: 91%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton46{
  position: absolute;
    top: 51%; /* Vertikale Position in Pixeln */
    left: 91%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.BuildButton47{
  position: absolute;
    top: 81%; /* Vertikale Position in Pixeln */
    left: 91%; /* Horizontale Position in Pixeln */
  width: 80px;
  height: 80px;
  background-image: url('https://raw.githubusercontent.com/daWolf09/TowerDefence/main/TowerDefence/builld_icon.png'); /* Passe den Pfad zum Bild an */
  background-size: cover; /* Bildgröße anpassen */
  border: none;
  cursor: pointer;
  background-color: transparent;
}


@keyframes flashingEffect {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: #a38c0b; 
  }
}
body, html {
  background-position: center top;
  height: 100%;
  margin: auto;
  /*Image Url*/
  background-image: url("https://raw.githubusercontent.com/daWolf09/TowerDefence/main/Tower_Defense_Map.png");

  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.flying-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: flyAnimation 15s linear infinite;
  width: 50px; /* Ändere die Breite des Bilds */
  height: auto; /* Die Höhe passt sich automatisch an die Breite an */
}
@keyframes flyAnimation {
  0% {
    right: 100%; /* Startposition: Bild außerhalb des linken Bildschirmrands */
    top: 24%; /* Startposition: vertikal zentriert */
    transform: translateY(0); /* Keine vertikale Verschiebung zu Beginn */
  }
  12.5% {
    right: calc(80% + 10px); /* 50px nach vorne fliegen */
    top: 23.5%; /* Beibehaltung der vertikalen Position */
    transform: translateY(0); /* Keine vertikale Verschiebung */
  }
  25% {
    right: calc(78% + 10px); /* Beibehaltung der horizontalen Position */
    top: 80%; /* 30% nach unten fliegen */
    transform: translateY(0); /* Keine vertikale Verschiebung */
  }
  37.5% {
    right: calc(50% + 10px); /* Beibehaltung der horizontalen Position */
    top: 80%; /* Beibehaltung der vertikalen Position */
    transform: translateY(0); /* Keine vertikale Verschiebung */
  }
  50% {
    right: calc(50% + 10px); 
    top: 24%; 
    transform: translateY(-50%); 
  }
  62.5% {
    right: calc(36% + 10px); 
    top: 24%; 
    transform: translateY(-50%); 
  }
  75% {
    right: calc(36% + 10px); 
    top: 80%; 
    transform: translateY(-50%); 
  }
  87.5% {
    right: calc(10% + 10px); 
    top: 80%; 
    transform: translateY(-50%); 
  }
  100% {
    right: calc(10% + 10px); 
    top:40%; 
    transform: translateY(-50%); 
  }
}
